#containerBtns{
	padding: 10px;
	border: 1px solid #ccc;
}

.modal {
    display: none; 
    z-index: 1; 
    left: 0;
    top: 0;
    
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    border: 1px solid #888;
    width: 500px; 
    height: 300px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    #font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}