<!DOCTYPE>
<html>
	<head>
		<link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
		<link href="stylesheets/common.css" rel="stylesheet" />

		<script src="/bower_components/angular/angular.min.js"></script>
		<script src="javascripts/angularTest.js"></script>

		<script src="javascripts/directives/button1.js"></script>
		<script src="javascripts/directives/button2.js"></script>
	</head>
	<body ng-app="myApp">
		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href="/">Javascript</a></li>
						<li class="active"><a href="/angular">AngularJS</a></li>
						<li><a href="/react">ReactJS</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container">
			<h1>AngularJS tests</h1>

			<hr/>

			<h2>Creating directives</h2>
			<div class="alert alert-success">
				The container below has two html tags for directives, controller test1Controller has scope variable
				$scope.color = 'green';
				update only the following files to show a button with corresponding color inside the controllers (new files can be added if necessary)
				<ul>
					<li>/public/javascript/directives/button1</li>
					<li>/public/javascript/directives/button2</li>
				</ul>
			</div>
			<div ng-controller="test1Controller">
				<div button1 color="color"></div>
				<button2 color="red"></button2>
			</div>

			<hr/>

			<h2>Translating events</h2>
			<div class="alert alert-success">
				Controller test1Controller has handler $scope.alertHandler, update button1 directive and test1Controller to fire this handler.
				<div class="alert alert-info">HINT: Do not pass function as a parameter for the directive</div>
			</div>

			<hr/>

			<h2>Repeat directive</h2>
			<div class="alert alert-success">
				Controller test1Controller has items array, add a &lt;ul&gt; list below that shows only names where inactive property isn't true
				show the list in 3 second after the page is loaded.
			</div>
			<div ng-controller="test1Controller">
				<ul ng-if="show" ng-repeat="item in items | filter: { inactive: '!true' }">
				<li>{{item.name}}</li>
				
			</div>
			<ul>
			</ul>
		</div>
	</body>
</html>